@page "/editgame"

<PageTitle>New Game</PageTitle>
<h3>New Game</h3>
@if(genres.Count == 0)
{
    <p><em>Loading......</em></p>
}
else
{
<div class="row">
    <div class="col-md-6">
<EditForm Model="@gameDetails" FormName="EditGame">
  <div class="mb-3">
    <label for="name" class="form-label">Name:</label>
    <InputText id="name" class="form-control" @bind-Value="gameDetails.Name"/>
  </div>
  <div class="mb-3">
    <label for="genre" class="form-label">Genre:</label>
    <InputSelect id="genre" class="form-control" @bind-Value="gameDetails.GenreId">
        <option value="">Select desired genre</option>
        @foreach(var genre in genres)
        {
            <option value="@genre.Id">@genre.Name</option>
        }
    </InputSelect>
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Price:</label>
    <InputNumber id="price" class="form-control" @bind-Value="gameDetails.Price"/>
  </div>
  <div class="mb-3">
    <label for="releasedate" class="form-label">Release Date:</label>
    <InputDate id="releasedate" class="form-control" @bind-Value="gameDetails.ReleaseDate"/>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>
</div>
</div>
}
@code {
    private GameDetails gameDetails {get; set;} = new(){
        Name = string.Empty,
        ReleaseDate = DateOnly.FromDateTime(DateTime.UtcNow)
    };

    private GenresClient genresClient = new();

    private List<Genre> genres;

    protected override void OnInitialized()
    {
        genres = genresClient.GetGenres();
    }
}
